<!DOCTYPE html>
<html lang="en">
<head>
    <title>Profile</title>
</head>
<body>
    <h1> <%- include('common/header') %> </h1>
    <h3>Welcome, <%= user.name %> </h3>
    <h3>You can Connect on: <%= user.contact %></h3>
    <h3></h3>
</body>
</html>